.inline{
    display: inline !important;
}

.text-black{
    color: #121416 ;
}

.text-black:hover{
    color: #121416 ;
}

.rg-lg-form{
    width: 360px;
}

.admin-nav-text{

    font-size: 13px ;
}

.icon-size{

    font-size: 20px;
}

.cursor-pointer:hover{
    cursor: pointer !important;
}

body {
    height: 100%;
    margin: 0;
}

.vh90{
    min-height: 90vh;
}

section>nav>ul>li:hover{
    background-color: #f2f2f2;
}

input{
    font-size: 10px !important;
}
#dbtext{
    z-index: 1;
}

#show {
    opacity: 0;
    animation: 1s show ease-in-out ;
    animation-duration: 15s;
  }
  
@keyframes show {
0% { opacity: 0; }
20% { opacity: 1; }
80% { opacity:1; }
100% { opacity: 0; }
}

.item {
    font-size: 20px;
    color: #28a745;
    animation: 1s bell-vibrate ease-in-out infinite ;
}
  
@keyframes bell-vibrate {
0% { transform: rotate(0); opacity:0; }
4% { transform: rotate(8deg); color:#dc3545; opacity: 1; }
8% { transform: rotate(-8deg); }
12% { transform: rotate(8deg); }
16% { transform: rotate(-8deg); }
20% { transform: rotate(0); }
100% { transform: rotate(0); }
}

.hover-light:hover{
    background-color: white;
}

.logo-size{
    font-size:30px;
}

.logo-text-size{
    font-size:26px;
}

footer{
    min-height: 5vh;
}

footer> ul {
    text-align: center;
}